<a href="https://colab.research.google.com/github/hrushikeshingole/data-science-projects/blob/main/basic_pythons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pip install pyttsx3

Collecting pyttsx3
  Downloading pyttsx3-2.90-py3-none-any.whl.metadata (3.6 kB)
Downloading pyttsx3-2.90-py3-none-any.whl (39 kB)
Installing collected packages: pyttsx3
Successfully installed pyttsx3-2.90

In [ ]:
#complexity analysis
#asymptotic analysis
#find the trend and into precision

BigO notion- identify the trend
O(n)- liner,O(1),O(logn){binnary search},O(n),O(nlogn){merg sort},O(n^2),O(2^n){fibonachi series},O(n!){worst}-----> to find whic operation is better
*log(n) is the best for time and space complexity*

in log we divide by 2 like for 1 step it divide the n by half----> like 8->4->2->1

space complexity- extra space need for algrothem and not the inpute.
drop the constant and drop the insigfiant pieces

Arry- *Accessing and setting values in an array is a constant space and time operation.

So we are not traversing the array for this.O(1)* as it only need 1 operation to access the element by using its slot address

traversing a arry is time  O(N) and space is O(1)

coping and creation is S,T = 0(n)
BACK TO BACK MEMORY SLOT


INCERTING = 1. biggining=o(n)T
2. end = o(1)T
3. someware else= O(n)T
all has apace is O(1)

1.STATIC ARRAYS(c++ )- fix sized next or last memory slot may or may be not empty
2.DYMANIC ARRAYS(JAVA script AND PYTHON HAVE ALL DYNAMIC ARRAYS): 0(1) inertion at the end--->allocate 2x time space so we can incert at constant time(amortisize)

Q1 Everyone, let's do this question.

You are given an array of integers in which each subsequent value is not less than the previous value. Right to function, that takes this array as an input and returns, and you agree with the squares of each number sorted in ascending order.**

In [ ]:
 def sorted_arry(arr):
  arr =  int(input("enterd the n0"))
  sq = [x**2 for x in arr]
  sq.sort()

  return sq

module are pre build code as packet and we use so we dont need to code from scratch we install the by pip there are 2 types of modules inbult and external


REPL ----> read evaluat print loop
direct fun like addition etc

In [ ]:
# print a table, gtake the input from uers

table = int(input("enter the value that you want a table:"))
for i in range (1,11):
  print(table,"*",i,"=" ,table*i)

enter the value that you want a table:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

varible and datatype----A variable is the name given to a memory location in a program

DATA TYPES
Primarily these are the following data types in Python:
1. Integers
2. Floating point numbers
3. Strings
4. Booleans
5. None


RULES FOR CHOOSING AN IDENTIFIER
• A variable name can contain alphabets, digits, and underscores.

• A variable name can only start with an alphabet and underscores.

• A variable name can’t start with a digit.

• No white space is allowed to be used inside a variable name.

OPERATORS IN PYTHON
Following are some common operators in python:
1. Arithmetic operators: +, -, *, / etc.

2. Assignment operators: =, +=, -= etc.

3. Comparison operators: ==, >, >=, <, != etc.

4. Logical operators: and, or, not.

In [ ]:
# Assignment operators: =, +=, -= etc.
b =  6
b += 5
print(b)
# its add +5 in b
b -= 5
print(b)

# Comparison operators: ==, >, >=, <, != etc.
c = 3
d = b<c
print(d)

11
6
False

In [ ]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

type() function is used to find the data type of a given variable in python.

A number can be converted into a string and vice versa (if possible)
There are many functions to convert one data type into another.
str(31) =>"31" # integer to string conversion

str(31) =>"31" # integer to string conversion

int("32") => 32 # string to integer conversion

float(32) => 32.0 # integer to float conversion

In [ ]:
a = 31
print(type(a))

<class 'int'>

In [ ]:
# Write a python program to find remainder when a number is divided by z
a = int(input("Enter the 1st no :"))
b = int(input("Enter the 1st no :"))
print("the riminer of ", a ,"divide", b, "is =", a%b )

Enter the 1st no :13
Enter the 1st no :5
the riminer of  13 divide 5 is = 3

In [ ]:
# Write a python program to find an average of two numbers entered by the user.
a = int(input("Enter the 1st no :"))
b = int(input("Enter the 1st no :"))
print("the avg of ", a ,"and", b, "is =", (a+b)/2 )

Enter the 1st no :5
Enter the 1st no :4
the avg of  5 and 4 is = 4.5

String is a data type in python.
String is a sequence of characters enclosed in quotes.
We can primarily write a string in these three ways

a ='harry' # Single quoted string
b = "harry" # Double quoted string
c = '''harry''' # Triple quoted string
STRING SLICING
A string in python can be sliced for getting a part of the strings.

In [ ]:
a = "hrushikesh"
print(a[0:3])
print(a[:-1])
print(a[::-1])

hru
hrushikes
hsekihsurh